openapi: 3.0.1
info:
  title: WeatherTesting
  description: Sample wether app creaqted to get to know swagger
  termsOfService: http://swagger.io/terms/
  contact:
    email: vimukthim@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.openweathermap.org/data/2.5
- url: http://api.openweathermap.org/data/2.5
tags:
- name: weather
  description: Todayas Weather
  externalDocs:
    description: Find out more
    url: https://openweathermap.org/current
- name: forecast
  description: wether forcast of the cities
  externalDocs:
    description: Find out more about our store
    url: https://openweathermap.org/forecast16
paths:
  /weather:
    get:
      parameters:
      - name: id
        in: query
        description: ID of the City
        schema:
          type: number
      - name: q
        in: query
        description: Name of the city
        schema:
          type: string
      - name: appid
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: Wether of The Given City ID
          content: {}
        401:
          description: Invalid API key. Please see http://openweathermap.org/faq#error401
            for more info
          content: {}
        404:
          description: Unable to find the URL path
          content: {}
        429:
          description: Your account is temporary blocked due to exceeding of requests
            limitation of your subscription type.
          content: {}
  /forecast:
    get:
      parameters:
      - name: id
        in: query
        description: ID of the City
        schema:
          type: number
      - name: q
        in: query
        description: Name of the city
        schema:
          type: string
      - name: appid
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: Fore Cast of the Given city
          content: {}
        401:
          description: Invalid API key. Please see http://openweathermap.org/faq#error401
            for more info
          content: {}
        404:
          description: Unable to find the URL path
          content: {}
        429:
          description: Your account is temporary blocked due to exceeding of requests
            limitation of your subscription type.
          content: {}
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
    newOAuth:
      type: oauth2
      flows:
        password:
          tokenUrl: https://petstore.swagger.io/oauth/token
          scopes: {}
x-global-spec:
  x-global-cache: 370
  x-global-rateLimiting:
    Interval: 1
    timeunit: min
    quota: 500
  x-global-cors:
   corsConfigurationEnabled: true
   accessControlAllowOrigins:
      - google.com
      - wso2.com
      - localhost:9243
      - youtube.com
   accessControlAllowCredentials: false
   accessControlAllowHeaders:
     - authorization
     - Access-Control-Allow-Origin
     - Content-Type
     - SOAPAction
  accessControlAllowMethods:
     - GET
     - PUT
     - POST
     - DELETE
     - PATCH
     - OPTIONS

